black~=26.1
dj-rest-auth~=7.1
Django~=6.0
django-cors-headers~=4.9
django-import-export~=4.4
django-registration~=5.2
djangorestframework~=3.16
drf-yasg~=1.21,>=1.21.11
gunicorn~=25.1
Jinja2~=3.1
legacy-cgi
MarkupSafe~=3.0
mypy-extensions~=1.1
packaging~=26.0
pathspec~=1.0
psycopg2-binary~=2.9
pytz~=2025.2
requests~=2.32
